{% extends "base.html" %}

<!-- {% block head %}
 
{% endblock %} -->

{% block content %}
    <div class="container">

        <div class="toppane">
            UNDO REDO
            <button onclick="sendSelectedObjectBack();">Send back</button>
            <button onclick="sendSelectedObjectToFront();">Bring Front</button>
            <button id="crop">Crop</button>
	        <button id="startCrop" style="border: 1px solid #000000">Mark Crop Area</button>
            <input type="file" id="file">
            <a id="lnkDownload" href="#">Save image</a>
        </div>
        <div class="leftpane">
            <div class="btn-group">
                <button onclick="effectsFunction()">Effects</button>
                <button onclick="colorFunction()">Color</button>
                <button onclick="lightFunction()">Light</button>
                <button onclick="shapesFunction()">Shapes</button>
                <button onclick="drawFunction()">Draw</button>
                <button onclick="canvasFunction()">Canvas</button>
                <button onclick="backgroundFunction()">Background</button>
                <button onclick="filtersFunction()">Filters</button>
              </div>
        </div>
        <div class="middlepane">
            <canvas id="canvas" width="1750" height="750" style="border:2px solid #000000"></canvas>
        </div>
        <div class="rightpane">
            <div id="effects">
                Blur:<input type="range" id="blur" value="0" min="0" max="1" step="0.01"><br>
            </div>
            <div id="color">
                Saturation:<input type="range" id="saturation" value="0" min="-1" max="1" step="0.01"><br>
                Hue:<input type="range" id="hue" value="0" min="-1" max="1" step="0.01"><br>
            </div>
            <div id="light">
                Brightness:<input type="range" id="brightness" value="0" min="-1" max="1" step="0.01"><br>
                Contrast:<input type="range" id="contrast" value="0" min="-1" max="1" step="0.01"><br>
            </div>
            <div id="shapes">
                <button id="undo">Undo</button>
                <button id="redo">Redo</button>
            </div>
            <div id="draw">
                DRAW
            </div>
            <div id="canvas1">
                CANVAS
            </div>
            <div id="background">
                BACKGROUND
            </div>
            <div id="filters">
                FILTERS
            </div>
        </div>
    </div>
    
        
    

    

    <!-- <a href='' id='txt'>Click Me!!</a> -->

    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <script src="{{url_for('static', filename='js/filters.js')}}"></script>
{% endblock %}